# Basic gitignore to get you started
.DS_Store
Thumbs.db

.vscode/
*.code-workspace
*~
*.swp
*.swo

/build/
dist/
tmp/
temp/

*.log

node_modules/
.venv/
env/

*.env

*.o
*.obj
*.exe
*.dll

*.tmp

#Add your own ignored file extensions here